In [1]:
%load_ext autoreload
%autoreload
import pandas as pd
import dataWrangling
from memoryReduction import *
import gc
import importlib
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import lightgbm as lgb
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import roc_curve, auc, accuracy_score
import multiprocessing
sns.set()
print(multiprocessing.cpu_count())

8

In [2]:
df = dataWrangling.create_dt(is_train=True, first_day= 1000)

914
Mem. usage decreased to 1496.70 Mb (26.2% reduction)

In [3]:
%timeit 

import multiprocessing as mp
importlib.reload(dataWrangling)
#p = mp.Pool(2)
df = dataWrangling.create_fea(df)
df = reduce_mem_usage(df)
df.to_pickle("data.pkl")

7 lag_7

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Users\User\Anaconda3\envs\khiem\lib\site-packages\IPython\core\interactiveshell.py", line 3331, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-3-d91dce2d6ad6>", line 6, in <module>
    df = dataWrangling.create_fea(df)
  File "C:\Users\User\Desktop\M5\M5Accuracy\dataWrangling.py", line 82, in create_fea
    dt[f"rskurt_{lag}_{wins[i]}"] = dt[["id", lag_col]].groupby("id")[lag_col].transform(lambda x : x.rolling(wins[i]).kurt())
  File "C:\Users\User\Anaconda3\envs\khiem\lib\site-packages\pandas\core\groupby\generic.py", line 465, in transform
    return self._transform_general(func, *args, **kwargs)
  File "C:\Users\User\Anaconda3\envs\khiem\lib\site-packages\pandas\core\groupby\generic.py", line 489, in _transform_general
    res = func(group, *args, **kwargs)
  File "C:\Users\User\Desktop\M5\M5Accuracy\dataWrangling.py", line 82, in <lambda>
    dt[f"rskurt_{lag}_{wins[i]}"] = dt[["id", lag_col]].groupby("id")[lag_col].transform(lambda x : x.rolling(wins[i]).kurt())
  File "C:\Users\User\Anaconda3\envs\khiem\lib\site-packages\pandas\core\window\rolling.py", line 2070, in kurt
    return super().kurt(**kwargs)
  File "C:\Users\User\Anaconda3\envs\khiem\lib\site-packages\pandas\core\window\rolling.py", line 1534, in kurt
    **kwargs,
  File "C:\Users\User\Anaconda3\envs\khiem\lib\site-packages\pandas\core\window\rolling.py", line 507, in _apply
    result = calc(values)
  File "C:\Users\User\Anaconda3\envs\khiem\lib\site-packages\pandas\core\window\rolling.py", line 493, in calc
    closed=self.closed,
  File "C:\Users\User\Anaconda3\envs\khiem\lib\site-packages\pandas\core\window\indexers.py", line 85, in get_window_bounds
    end_e = start_e + self.window_size
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\User\Anaconda3\envs\khiem\lib\site-packages\IPython\core\interactiveshell.py", line 2044, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\User\Anaconda3\envs\khiem\lib\site-packages\IPython\core\ultratb.py", line 1151, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\User\Anaconda3\envs\khiem\lib\site-packages\IPython\core\ultratb.py", line 319, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\User\Anaconda3\envs\khiem\lib\site-packages\IPython\core\ultratb.py", line 353, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Users\User\Anaconda3\envs\khiem\lib\inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Users\User\Anaconda3\envs\khiem\lib\inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\Users\User\Anaconda3\envs\khiem\lib\inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "C:\Users\User\Anaconda3\envs\khiem\lib\inspect.py", line 739, in getmodule
    f = getabsfile(module)
  File "C:\Users\User\Anaconda3\envs\khiem\lib\inspect.py", line 708, in getabsfile
    _filename = getsourcefile(object) or getfile(object)
  File "C:\Users\User\Anaconda3\envs\khiem\lib\inspect.py", line 693, in getsourcefile
    if os.path.exists(filename):
  File "C:\Users\User\Anaconda3\envs\khiem\lib\genericpath.py", line 19, in exists
    os.stat(path)
KeyboardInterrupt

KeyboardInterrupt:

In [8]:

c =1
def b():
    global c
    c=2
b()
print(c)

2

In [4]:
df.dropna(inplace=True)

In [15]:
lags = [7, 28, 29, 30,31,90,180,365]
#lags = [7]
lag_cols = [f"lag_{lag}" for lag in lags]
price_lag = [f"price_lag_{lag}" for lag in lags]
for lag, lag_col, price_lag_col in zip(lags, lag_cols, price_lag):
    df[lag_col].dropna(inplace= True)
    df[price_lag_col].dropna(inplace= True)
wins = lags
for i, lag_data in enumerate(zip(lags, lag_cols)):
    lag = lag_data[0]
    lag_col = lag_data[1]
    print(lag,lag_col)
    df[f"rmean_{lag}_{wins[i]}"].dropna(inplace= True)
    df[f"rstd_{lag}_{wins[i]}"].dropna(inplace= True)
    df[f"rskew_{lag}_{wins[i]}"].dropna(inplace= True)
    df[f"rskurt_{lag}_{wins[i]}"].dropna(inplace= True)

7 lag_7
28 lag_28
29 lag_29
30 lag_30
31 lag_31
90 lag_90
180 lag_180
365 lag_365

In [56]:
df.to_pickle("data.pkl")

MemoryError:

In [43]:
na_array[0:5].any(axis=1)
del na_array
gc.collect()

557

In [62]:
df.iloc[10000:20000].dropna(inplace=True)

In [63]:
df.iloc[0:100]

,id,item_id,dept_id,store_id,cat_id,state_id,d,sales,date,wm_yr_wk,...,rstd_180_180,rskew_180_180,rskurt_180_180,rmean_365_365,rstd_365_365,rskew_365_365,rskurt_365_365,week,day,dayofweek
0,HOBBIES_1_002_CA_1_validation,1,0,0,0,0,d_700,0.0,2012-12-28,11248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,27,4
1,HOBBIES_1_004_CA_1_validation,3,0,0,0,0,d_700,0.0,2012-12-28,11248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,27,4
2,HOBBIES_1_005_CA_1_validation,4,0,0,0,0,d_700,3.0,2012-12-28,11248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,27,4
3,HOBBIES_1_006_CA_1_validation,5,0,0,0,0,d_700,3.0,2012-12-28,11248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,27,4
4,HOBBIES_1_007_CA_1_validation,6,0,0,0,0,d_700,0.0,2012-12-28,11248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,27,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,HOBBIES_1_128_CA_1_validation,123,0,0,0,0,d_700,0.0,2012-12-28,11248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,27,4
96,HOBBIES_1_129_CA_1_validation,124,0,0,0,0,d_700,0.0,2012-12-28,11248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,27,4
97,HOBBIES_1_130_CA_1_validation,125,0,0,0,0,d_700,0.0,2012-12-28,11248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,27,4
98,HOBBIES_1_131_CA_1_validation,126,0,0,0,0,d_700,0.0,2012-12-28,11248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,27,4
99,HOBBIES_1_132_CA_1_validation,127,0,0,0,0,d_700,0.0,2012-12-28,11248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,27,4

In [6]:
cat_feats = ['item_id', 'dept_id','store_id', 'cat_id', 'state_id'] + \
            ["event_name_1", "event_name_2", "event_type_1", "event_type_2"] +\
            ['year','month','week','day','dayofweek']
useless_cols = ["id", "date", "sales","d", "wm_yr_wk"]
train_cols = df.columns[~df.columns.isin(useless_cols)]
X_train = df[train_cols]
y_train = df["sales"]
X_train = reduce_mem_usage(X_train)
y_train = reduce_mem_usage(y_train)

del df
gc.collect()

In [6]:
df.head()

,id,item_id,dept_id,store_id,cat_id,state_id,d,sales,date,wm_yr_wk,...,sell_price,lag_7,price_lag_7,rmean_7_7,rstd_7_7,rskew_7_7,rskurt_7_7,week,day,dayofweek
243925,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,d_1903,1.0,2016-04-14,11611,...,8.382812,3.0,8.257812,1.428711,1.618164,0.674316,-1.151367,2,13,3
243926,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,d_1904,1.0,2016-04-15,11611,...,8.382812,0.0,8.257812,1.428711,1.618164,0.674316,-1.151367,2,14,4
243939,HOBBIES_1_003_CA_1_validation,2,0,0,0,0,d_1903,2.0,2016-04-14,11611,...,2.970703,1.0,2.970703,0.285645,0.488037,1.229492,-0.839844,2,13,3
243940,HOBBIES_1_003_CA_1_validation,2,0,0,0,0,d_1904,2.0,2016-04-15,11611,...,2.970703,0.0,2.970703,0.285645,0.488037,1.229492,-0.839844,2,14,4
243946,HOBBIES_1_004_CA_1_validation,3,0,0,0,0,d_1903,0.0,2016-04-14,11611,...,4.640625,0.0,4.640625,1.571289,1.133789,0.235229,-1.227539,2,13,3

In [7]:
'''
train_data = lgb.Dataset(X_train, label = y_train, categorical_feature=cat_feats, free_raw_data=False)
fake_valid_inds = np.random.choice(len(X_train), 500000)
fake_valid_data = lgb.Dataset(X_train.iloc[fake_valid_inds], label = y_train.iloc[fake_valid_inds],categorical_feature=cat_feats,
                             free_raw_data=False)

In [4]:
#taken from https://www.kaggle.com/bitit1994/parameter-grid-search-lgbm-with-scikit-learn
'''
params = {
        "objective" : "poisson",
        "metric" :"rmse",
        "force_row_wise" : True,
        "learning_rate" : 0.075,
#         "sub_feature" : 0.8,
        "sub_row" : 0.75,
        "bagging_freq" : 1,
        "lambda_l2" : 0.1,
#         "nthread" : 4
        'verbosity': 1,
        'num_iterations' : 25,
}
'''
# Initiate classifier to use
mdl = lgb.LGBMClassifier()

In [5]:
gridParams = {
    'learning_rate': [0.005, 0.01,0.05],
#    'n_estimators': [8,16,24],
    'num_leaves': [6,12,32,64], # large num_leaves helps improve accuracy but might lead to over-fitting
    'boosting_type' : ['gbdt', 'dart'], # for better accuracy -> try dart
    'objective' : ['poisson','regression'],
    'max_bin':[255, 510], # large max_bin helps improve accuracy but might slow down training progress
    'random_state' : [500],
    "sub_feature" : [0.9,0.8,0.7],
    "sub_row" : [0.75,0.8,0.85],
    'colsample_bytree' : [0.64, 0.65, 0.66],
    'subsample' : [0.7,0.75,0.8],
    'lambda_l1' : [0.1,0.05,0.15,0.5,1,1.2],
    "lambda_l2" : [0.1,0.05,0.15,0.5,1,1.2],
    "metric" : ['rmse'],
    'num_iterations' : [100],
    'verbosity': [1],
    "force_row_wise" : [True],
    "bagging_freq" : [1],
    }

grid = GridSearchCV(mdl, gridParams, verbose=1, n_jobs=4,cv = 4) ##remember to add cv
# Run the grid
grid.fit(X_train, y_train)

# Print the best parameters found
print(grid.best_params_)
print(grid.best_score_)

AttributeError: 'GridSearchCV' object has no attribute 'best_params_'